body {
    height: 100%;
    width: 100%;
    /*background-color: #EEF4ED;*/
    background-color: #8DA9C4;
    padding: 0px;
    margin: 0px;
}

#topbar {
    background-color: #0B2545;
    height: 4vh;
    padding: 0px;
    margin: 0px;
}

#levelsLink {
    margin-left: 11vw;
}

#insultLink {
    margin-left: 2vw;
}

.linkv1 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #EEF4ED;
    font-size: 2.5vh;
}

#logoDiv {
    background-color: #0B2545;
    position: absolute;
    width: 7vw;
    height: 7vw;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    align-content: center;
}

#logoHolder {
    width: 6vw;
    height: 6vw;
}
#logo1 {
    margin: 0px;
    padding:0px;
    height: 6vw;
    width: 6vw;
}


/*for homepage: https://coolors.co/134074-13315c-0b2545-8da9c4-eef4ed*/